body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.className {
  position: relative;
  color: red;
  transform: translateX(100px);
}

.className:hover {
  opacity: 0.5 !important;
}
