.mtk4 {
    color: #57B0F2;
    text-shadow: 0 0 5px #3c8bff, 0 0 12px rgba(89, 172, 255, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk7 {
    color: #A1A3FF;
    text-shadow: 0 0 5px #8080ff, 0 0 12px rgba(189, 189, 255, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);  
  }
  
  .mtk8 {
    color: #A6E1DB;
    text-shadow: 0 0 5px #7fc8c9, 0 0 12px rgba(194, 233, 231, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk9 {
    color: #7FDAFF;
    text-shadow: 0 0 5px #5cb4cc, 0 0 12px rgba(168, 230, 255, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk10 {
    color: #F1756C;
    text-shadow: 0 0 5px #d75255, 0 0 12px rgba(255, 155, 138, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk11 {
    color: #57B0F2;
    text-shadow: 0 0 5px #3c8bff, 0 0 12px rgba(89, 172, 255, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk12 {
    color: #34DDE2;
    text-shadow: 0 0 5px #23b6bd, 0 0 12px rgba(101, 238, 238, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);  
  }
  
  .mtk13 {
    color: #A7A8A8;
    text-shadow: 0 0 5px #858687, 0 0 12px rgba(201, 201, 202, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk14 {
    color: #C7D45E;
    text-shadow: 0 0 5px #afb753, 0 0 12px rgba(217, 227, 124, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk15 {
    color: #F0DA84;
    text-shadow: 0 0 5px #e1c56b, 0 0 12px rgba(250, 235, 164, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk17 {
    color: #FF8A8A;
    text-shadow: 0 0 5px #cc5d5d, 0 0 12px rgba(255, 182, 182, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);  
  }
  
  .mtk18 {
    color: #F59371;
    text-shadow: 0 0 5px #d37f55, 0 0 12px rgba(255, 178, 142, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk19 {
    color: #8F99B0;
    text-shadow: 0 0 5px #787d8c, 0 0 12px rgba(166, 171, 184, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk20 {
    color: #E69CB2;
    text-shadow: 0 0 5px #c47891, 0 0 12px rgba(255, 186, 204, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);  
  }
  
  .mtk21 {
    color: #6EEBC3;
    text-shadow: 0 0 5px #4dc4a4, 0 0 12px rgba(138, 245, 223, 0.3), 0 0 1px rgba(0, 0, 0, 0.3); 
  }
  
  .mtk23 {
    color: #FFB167;
    text-shadow: 0 0 5px #e69e4f, 0 0 12px rgba(255, 210, 142, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .mtk29 {
    color: #ff2400;
    text-shadow: 0 0 5px #cc1d00, 0 0 12px rgba(255, 81, 68, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  }