.mtk4 {
    color: #57B0F2;
    text-shadow: 0 0 10px #3c8bff, 0 0 22px #89adff, 0 0 2px black; 
  }
  
  .mtk7 {
    color: #A1A3FF;
    text-shadow: 0 0 10px #8080ff, 0 0 22px #bdbdff, 0 0 2px black;
  }
  
  .mtk8 {
    color: #A6E1DB;
    text-shadow: 0 0 10px #7fc8c9, 0 0 22px #c2e9e7, 0 0 2px black;
  }
  
  .mtk9 {
    color: #7FDAFF;
    text-shadow: 0 0 10px #5cb4cc, 0 0 22px #a8e6ff, 0 0 2px black;
  }
  
  .mtk10 {
    color: #F1756C;
    text-shadow: 0 0 10px #d75255, 0 0 22px #ff9b8a, 0 0 2px black;
  } 
  
  .mtk11 {
    color: #57B0F2;
    text-shadow: 0 0 10px #3c8bff, 0 0 22px #89adff, 0 0 2px black;
  }
  
  .mtk12 {
    color: #34DDE2;
    text-shadow: 0 0 10px #23b6bd, 0 0 22px #65eeee, 0 0 2px black;
  }
  
  .mtk13 {
    color: #A7A8A8;
    text-shadow: 0 0 10px #858687, 0 0 22px #c9c9ca, 0 0 2px black;
  }
  
  .mtk14 {
    color: #C7D45E;
    text-shadow: 0 0 10px #afb753, 0 0 22px #d9e37c, 0 0 2px black;  
  }
  
  .mtk15 {
    color: #F0DA84;
    text-shadow: 0 0 10px #e1c56b, 0 0 22px #faeba4, 0 0 2px black;
  }
  
  .mtk17 {  
    color: #FF8A8A;
    text-shadow: 0 0 10px #cc5d5d, 0 0 22px #ffb6b6, 0 0 2px black;
  }
  
  .mtk18 {
    color: #F59371;
    text-shadow: 0 0 10px #d37f55, 0 0 22px #ffb28e, 0 0 2px black; 
  }
  
  .mtk19 {
    color: #8F99B0;
    text-shadow: 0 0 10px #787d8c, 0 0 22px #a6abb8, 0 0 2px black;
  } 
  
  .mtk20 {
    color: #E69CB2;
    text-shadow: 0 0 10px #c47891, 0 0 22px #ffbacc, 0 0 2px black;
  }
  
  .mtk21 {
    color: #6EEBC3;
    text-shadow: 0 0 10px #4dc4a4, 0 0 22px #8af5df, 0 0 2px black;
  }
  
  .mtk23 {  
    color: #FFB167;
    text-shadow: 0 0 10px #e69e4f, 0 0 22px #ffd28e, 0 0 2px black;
  }
  
  .mtk29 {
    color: #ff2400;
    text-shadow: 0 0 10px #cc1d00, 0 0 22px #ff5144, 0 0 2px black;
  }